In [2]:
import pandas as pd

In [8]:
df = pd.read_csv('./data/train.csv', header=None)

In [10]:
df.head(5)

                 0                               1  2
0       怎么更改花呗手机号码  我的花呗是以前的手机号码，怎么更改成现在的支付宝的号码手机号  1
1  也开不了花呗，就这样了？完事了                      真的嘛？就是花呗付款  0
2      花呗冻结以后还能开通吗                   我的条件可以开通花呗借款吗  0
3         如何得知关闭借呗                         想永久关闭借呗  0
4           花呗扫码付钱                     二维码扫描可以用花呗吗  0

In [11]:
df.columns = ['q1', 'q2', 'label']

In [13]:
df.head(5)

                q1                              q2  label
0       怎么更改花呗手机号码  我的花呗是以前的手机号码，怎么更改成现在的支付宝的号码手机号      1
1  也开不了花呗，就这样了？完事了                      真的嘛？就是花呗付款      0
2      花呗冻结以后还能开通吗                   我的条件可以开通花呗借款吗      0
3         如何得知关闭借呗                         想永久关闭借呗      0
4           花呗扫码付钱                     二维码扫描可以用花呗吗      0

In [16]:
df.groupby(by='label').count()

          q1     q2
label
0      83792  83792
1      18685  18685

In [3]:
df_atec = pd.read_csv('./data/train_atec.csv', header=None)

In [4]:
df_atec.head(5)

                               0                 1  2
0               用微信都6年，微信没有微粒贷功能        4。  号码来微粒贷  0
1                         微信消费算吗           还有多少钱没还  0
2           交易密码忘记了找回密码绑定的手机卡也掉了  怎么最近安全老是要改密码呢好麻烦  0
3  你好 我昨天晚上申请的没有打电话给我 今天之内一定会打吗？          什么时候可以到账  0
4                        “微粒贷开通"   你好，我的微粒贷怎么没有开通呢  0

In [5]:
df_atec.columns = ['q1', 'q2', 'label']

In [6]:
df_atec.head(5)

                              q1                q2  label
0               用微信都6年，微信没有微粒贷功能        4。  号码来微粒贷      0
1                         微信消费算吗           还有多少钱没还      0
2           交易密码忘记了找回密码绑定的手机卡也掉了  怎么最近安全老是要改密码呢好麻烦      0
3  你好 我昨天晚上申请的没有打电话给我 今天之内一定会打吗？          什么时候可以到账      0
4                        “微粒贷开通"   你好，我的微粒贷怎么没有开通呢      0

In [7]:
df_atec.groupby(by='label').count()

          q1     q2
label
0      50000  50000
1      50000  50000

In [8]:
df_atec['q2'].to_csv('./data/atec_question.csv', index=None, header=None)

/Users/chongchuanbing/.pyenv/versions/3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.